
@import url(page_pot.css);

  
button {
  height: 30px;       
  border-radius: 0px;
  border-style: outset;
  border-width: 2px;
  margin-left: 10px;
  font: bold 12px sans-serif;
  } 

   
div#total {
  position: relative;
  margin: 20px auto 20px;
  }
  

div#canvas {
  position: absolute;
  background-color: #CDF0EA;
  border: 1px solid #000000;
  }
  
  
div#panel, div#panel1, div#panel2 {
  position: absolute;
  background-color: #F9F9F9;
  border: 1px solid #000000;
  font: bold 12px sans-serif;
  }
  
  
div#panel div , div#panel1 div, div#panel2 div {
  position: absolute;
  }
  

input[type="checkbox"] {
  margin-left: 10px;
  border-radius: 0px; 
  }
  

input[type="radio"] {
  margin-left: 10px;  
  }
  

input[type="range"] {
  position: absolute;
  left: 10px;
  }
  

input[type="text"] {
  position: absolute;
  padding-left: 2px;
  height: 14px;
  border-radius: 0px;
  border-color: #000000;
  border-width: 1px;
  font: bold 12px sans-serif;
  } 
  
  
label {
  margin-left: 5px;
  vertical-align: 2px;  
  }
  

select {
  position: absolute;
  top: -3px;
  left: 10px;
  height: 20px;
  border-radius: 0px;
  font: bold 12px sans-serif;
  } 
  
  
div#panel span, div#panel1 span, div#panel2 span {
  position: absolute;
  white-space: nowrap;
  font: bold 12px sans-serif;
  }
  

textarea {
  position: absolute;
  padding: 3px;
  left: 10px;
  border-radius: 0px;
  font: bold 12px sans-serif;
  line-height: 1.25;
  }
  
